header {
    background-image: url('../src/images/header_yuri.jpg');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 80px 16px; 
    box-sizing: border-box;
}

#title{
    color: white;

}

#subtitle {
    color: white;

}

main {
    padding: 30px; 
    margin: 0 auto;
    max-width: 1200px; 
}

.noticias-lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

.noticias-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    min-width: 300px;
    max-width: 340px;
}

.noticias-card img {
    border-radius: 8px;
    width: 120px;
    height: 90px;
}
.noticias-card a {
    font-weight: 700;
    color: #222;
    text-decoration: none;
    font-size: 1.1em;
    margin-bottom: 6px;
    display: inline-block;
}
.noticias-card p {
    margin: 0;
    color: #444;
    font-size: 0.98em;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #1b1919;
     height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

h2, p, h3 {
    color: white;
    
}

#subtitle, footer {
    color: rgb(0, 0, 0);
    text-align: center;
    
}

nav ul {
    background-color: white;  
    border-radius: 50px;      
    padding: 15px 40px;        
    display: inline-flex;      
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-top: 20px;         
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
}

nav a {
    color: #000;              
    text-decoration: none;     
    font-weight: bold;        
    font-size: 1rem;
    transition: color 0.3s;    
}

nav a:hover {
    color: #ff6600;           
}

.btn-newsletter {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}